{
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "babel-plugin-styled-components",
    "transform-class-properties"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react"
  ]
}
